/*CSS reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }
/*Custom properties*/  

/*Generics*/
h2{
    color: white;
    font-size: 16px;
    display: inline;
    padding-top: 15px;
}
footer{
    min-height: 80px;
    background-color: black;
}
/*Utilties*/
.sidebar{
    background-color: #ff6900;
    min-height: 50px;
}
.conteiner{
    background-color: rgb(196, 221, 244);
    max-width: 1260px;
    min-height: 900px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.card{
    width: 400px;
    height: 640px;
    background-color: rgb(168, 168, 246);
    position: relative;
    
}
.card_tag{
    height: 30px;
    width: 200px;
    background-color: rgb(237, 239, 194);
    position: absolute;
    bottom: 100px;
}
.foot_conteiner{
    max-width: 1260px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
/*Sidebar*/
#sidenav{
    min-height: 50px;
    max-width: 1260px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.items_nav{
    min-height: 50px;
    width: 200px;
    text-align: center;
}
#gender{
    display: flex;
    justify-content: space-between;
}
#logo{
    max-width: 150px;
    padding-top: 8px;
}
#nav_icons{
    display: flex;
    justify-content: center;
    gap: 10px;
    padding-top: 25px;
    color: white;
}
/*Cards*/

.description{
    height: 70px;
    width: 400px;
    background-color: rgb(177, 177, 177);
    position: absolute;
    bottom: 0;
}
.hearth{
    height: 60px;
    width: 50px;
    background-color: rgb(245, 209, 209);
    position: absolute;
    right: 0;
    top: 10px;
}
/*Footer*/
#foot_details{
    width: 300px;
    height: 80px;
    background-color: rgb(67, 67, 67);
}
#foot_social{
    width: 300px;
    height: 80px;
    background-color: rgb(67, 67, 67);
}